<div id="searchContainer">
  <form (submit)="showWeather(searchTerm)">
    <input class="searchControl" [(ngModel)]="searchTerm" type="text" name="searchTerm" placeholder="City Name or Zip code"
      id="searchInput">
    <button class="searchControl" (click)="showWeather(searchTerm)" id="searchBtn">Search</button>
  </form>
</div>
<div id="weatherContainer">
  <div id=weatherDescription>
    <h3 id="cityHeader"></h3>
    <div id="weatherMain">
      <div id="temperature">Temp:{{temperature}}</div>
      <div id="weatherDescriptionHeader"></div>
      <div><img id="documentIconImg"></div>
    </div>
    <hr>
    <div id="windSpeed" class="bottomDetails"></div>
    <div id="humidity" class="bottomDetails"></div>
  </div>

</div>

<div id="temperature">Temp:{{temperature}}</div>
<router-outlet></router-outlet>